dockerAPI: unix:///var/run/docker.sock # or tcp://192.168.50.40:2375
gateway: 10.200.44.31:9091 # Set the gateway ip and port.
interval: 15 # Set the interval to every 15 seconds. Default is every 1 minute.
job: docker-status-check
group: 王者
env: 预生产